# temporary files
*.swp

# python
*.pyc

# local
local/
mywebsite/settings_local.py
*/tests_functional.py
static/our_static/img/*

# code coverage
.coverage
htmlcov

# ideas / design
wireframes/

# static root
static/static_root/

# IDE
.idea
