{% extends 'base.html' %}
{% block head_title %}Blog Home{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="page-title">Blog Posts</h1>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			{% for post in latest_post_list %}
			<!-- Title -->
			<h1 class="post-title"><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h1>
			<!-- Date/Time -->
			<h4><span·class="glyphicon·glyphicon-time"></span> Date: {{ post.pub_date|date:"Y-m-d" }} {% if post.mod_date %}| Modified: {{ post.mod_date|date:"Y-m-d" }}{% endif %} | Tags: {% for tag in post.tags.all %}{% if not forloop.first %}, {% endif %}<a href="{% url 'blog:tag_detail' tag.slug %}">{{tag}}</a>{% endfor %}</h4>
			<hr />

			{{ post.body|safe }}

			<hr />
			{% endfor %}
		</div>

		<!-- Blog Sidebar Widgets Column -->
		{% include "side_bar_widgets.html" %}
	</div>
	<!-- /.row -->

</div>

{% endblock %}
