{% extends 'base.html' %}
{% block head_title %}About{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>About (Me and my Blog)</h1>
			<p class="lead">
				Hello! My name is Tom Gijselinck and I'm studying Computer Science and Electrical
				Engineering at the KU Leuven (Belgium). My main interests are computer security,
				cryptography, algorithm design, UNIX/Linux, numerical analysis and web programming.
				<br><br>
				I also participate in athletics at competition level running 800m and 1500m. One day
				I hope getting a medal at the national championships. My current goals are breaking
				the club records on the 800m and 1500m.<p>
			<h2>About this site</h2>
			<p class="lead">
				I consider my blog as a sort of notebook and laboratory for trying new things.
				It helps reminding me the solutions to interesting problems I encounter.
				I'll also try to use it as a portfolio of my personal and academic projects and
				accomplishments.
				<br><br>
				This website is built on: 
				<a href="https://www.djangoproject.com">Django</a>, 
				<a href="http://www.sqlite.com">SQLite</a>,
				<a href="http://www.apache.org">Apache</a>,
				<a href="http://nginx.org">Nginx</a>,
				<a href="https://www.linode.com">Linode</a>, 
				<a href="http://getbootstrap.com">Bootstrap framework</a>,
				<a href="http://www.ubuntu.com">Ubuntu</a>,
				<a href="https://github.com/GrahamDumpleton/mod_wsgi">mod_wsgi</a>, 
				<a href="https://www.python.org">Python</a>
				and edited with 
				<a href="http://www.vim.org/">Vim</a>
				running in 
				<a href="https://tmux.github.io">tmux</a>.
			</p>
		</div>
	</div>
</div>
{% endblock %}
