{% extends 'base.html' %}
{% block head_title %}About{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>About (Me and my Blog)</h1>
			<p class="lead">
				Hello! My name is Tom Gijselinck and I'm a studying Computer Science and Electrical
				Engineering at the KU Leuven (Belgium). My main interests are computer security,
				cryptography, algorithm design, numerical analysis and web programming.
				<br><br>
				I also participate in athletics at competition level running 800m and 1500m. One day
				I hope getting a medal at the national championships. My current goals are breaking
				the club records on the 800m and 1500m.
				<br><br>
				I consider my blog as a sort of neat scratchbook and laboratory for trying new things.
				It helps reminding me the solutions to interesting problems I encounter.
				I'll also try to use it as a portfolio of my personal and academic projects and
				accomplishments.
			</p>
		</div>
	</div>
</div>
{% endblock %}
