{% extends 'base.html' %}
{% block head_title %}Contact{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Contact</h1>
		</div>
		<div class="col-sm-7">
			<p class="lead">You can contact me at <code>tomgijselinck(at)gmail(dot)com</code> or (if you're one of the cool guys) visit my G+ page!</p>
		</div>
		<div class="col-sm-5">
			<!-- Place this tag where you want the widget to render. -->
			<div class="g-person" data-width="270" data-href="//plus.google.com/u/0/100023664418907749680" data-rel="author"></div>

			<!-- Place this tag after the last widget tag. -->
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/platform.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</div>
	</div>
</div>
{% endblock %}
